html {
  background: #ffffff;  
  height: 100%;
  display: flex;
}
body {
  width: 100%;
  margin: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: #138bbf;
  font-size: medium;
}

.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
